// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.
// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html

&uart1 {
    rx-pin = <6>;
    tx-pin = <8>;
    label = "UART_1";
    current-speed = < 230400 >;
    status = "okay";
    rx-pull-up;
};
&uart0 {
    status = "disabled";
};

&gpiote {
    interrupts = <6 NRF_DEFAULT_IRQ_PRIORITY>;
};
